.DS_Store
paper/build.log
*.retry
*.sw?
.ropeproject/
.ipynb_checkpoints/
fetch
/paper/*.aux
/paper/*.bbl
/paper/*.blg
/paper/*.log
/paper/*.pdf
/paper/*.synctex.gz
/paper/*.dvi
/paper/*.out
/paper/*.fff
/paper/*.lof
/paper/*.lot
/paper/*.ttt
